.row {
    margin-right: 0px;
    margin-left: 0px;
}

.trigger-label-font-color {
    color: #eee;
}

.trigger-label-disaster {
    background-color: #FF3838;
}

.trigger-label-high {
    background-color: #FF9999;
}

.trigger-label-average {
    background-color: #FFB689;
}

.trigger-label-warning {
    background-color: #FFF6A5;
}

.trigger-label-information {
    background-color: #D6F6FF;
}

.trigger-label-notclassified {
    background-color: #DBDBDB;
}

.form-signin {
    max-width: 330px;
    margin: 0px auto;
    font-weight: normal;
    border: 1px solid #E5E5E5;
    background-color: #FFF;
    box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.7);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
}

.form-signin .page-header {
    margin: 0px 0px 20px;
}

.form-container {
    padding-top: 6%;
}

.form-signin-header {
    text-align: center;
}

.navbar-right {
    margin-right: 0px;
}

thead th {
    background-color: #F8F8F8;
}

.color-swatches {
    margin: 0 -5px;
    overflow: hidden
}

.color-swatch {
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px){
    .color-swatch{
        width: 150px;
        height: 150px;
    }
}

#content {
    width: 100%;
    margin-bottom: 20px;
}

.color-swatches .brand-primary {
    background-color: #337ab7;
}

.color-swatches .brand-success {
    background-color: #5cb85c;
}

.color-swatches .brand-warning {
    background-color: #f0ad4e
}

.color-swatches .brand-danger {
    background-color: #d9534f
}

.color-swatches .brand-info {
    background-color: #5bc0de
}

.top-buffer {
    margin-top: 15px;
}

textarea {
    resize: none;
}

.modal .dl-horizontal dd {
    margin-left: 110px;
}

.modal .dl-horizontal dt {
    text-align: left;
    width: 100px;
}

.hide-id-column {
    display: none;
}

.no-bottom-buffer {
    margin-bottom: 0px;
}