.row {
    margin-right: 0px;
    margin-left: 0px;
}

.trigger-label-font-color {
    color: #eee;
}

.trigger-label-disaster {
    background-color: #FF3838;
}

.trigger-label-high {
    background-color: #FF9999;
}

.trigger-label-average {
    background-color: #FFB689;
}

.trigger-label-warning {
    background-color: #FFF6A5;
}

.trigger-label-information {
    background-color: #D6F6FF;
}

.trigger-label-notclassified {
    background-color: #DBDBDB;
}

.form-signin {
    max-width: 330px;
    margin: 0px auto;
}

.form-container {
    padding-top: 6%;
}

.form-signin-header {
    text-align: center;
}

.navbar-right {
    margin-right: 0px;
}

thead th {
    background-color: #F8F8F8;
}