<div class="color-swatches">
    <div class=".col-md-4">
        <div class="row">
            <div class=".col-md-4">
                <div id="dashboard-trigger-disaster" class="color-swatch brand-success"><h2>0</h2> <h6>Disaster</h6></div>
                <div id="dashboard-trigger-high" class="color-swatch brand-success"><h2>0</h2> <h6>High</h6></div>
            </div>
        </div>
        <div class="row">
            <div class=".col-md-4">
                <div id="dashboard-trigger-average" class="color-swatch brand-success"><h2>0</h2> <h6>Average</h6></div>
                <div id="dashboard-trigger-warning" class="color-swatch brand-success"><h2>0</h2> <h6>Warning</h6></div>
            </div>
        </div>
        <div class="row">
            <div class=".col-md-4">
                <div id="dashboard-trigger-information" class="color-swatch brand-success"><h2>0</h2> <h6>Information</h6></div>
                <div id="dashboard-trigger-not-classified" class="color-swatch brand-success"><h2>0</h2> <h6>Not classified</h6></div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['main'], function () {
        require(['actions/trigger', 'domready'], function (methods, domReady) {
            domReady(function () {
                methods.triggerCount($( "#dashboard-trigger-disaster h2" ), 5);
                methods.triggerCount($( "#dashboard-trigger-high h2" ), 4);
                methods.triggerCount($( "#dashboard-trigger-average h2" ), 3);
                methods.triggerCount($( "#dashboard-trigger-warning h2" ), 2);
                methods.triggerCount($( "#dashboard-trigger-information h2" ), 1);
                methods.triggerCount($( "#dashboard-trigger-not-classified h2" ), 0);
            });
        });
    });
</script>