<table id="hosttable"
      data-show-refresh="true"
      data-side-pagination="server"
      data-sort-name="name"
      data-sort-order="ASC"
      data-search="true"
    >
    <thead>
      <tr>
          <th data-field="name" data-sortable="true">Hostname</th>
          <th data-field="applications" data-formatter="formatApplications">Applications</th>
          <th data-field="items" data-formatter="formatItems">Items</th>
          <th data-field="triggers" data-formatter="formatTriggers">Triggers</th>
          <th data-field="discoveries" data-formatter="formatDiscovery">Discovery</th>
          <th data-field="httpTests" data-formatter="formatWeb">Web</th>
          <th data-field="interfaces" data-formatter="formatInterfaces">Interfaces</th>
          <th data-field="status" data-formatter="formatStatus" data-sortable="true">Status</th>
          <th data-field="hostid" data-formatter="formatLatestData">Latest data</th>
      </tr>
    </thead>
</table>

<script>
    require(['main'], function () {
        require(['actions/hosts', 'libs/formatter', 'domready', 'bootstraptable'], function (methods, formatter, domReady) {
            domReady( function () {
                var $table = $('#hosttable');
                hostsGet = function (params) {
                    methods.hostsGet(params);
                };
                formatStatus = function (value) {
                    return formatter.formatStatus(value);
                };
                formatApplications = function (value) {
                    return formatter.formatNumWithText(value, "Applications");
                };
                formatItems = function (value) {
                    return formatter.formatNumWithText(value, "Items");
                };
                formatTriggers = function (value) {
                    return formatter.formatNumWithText(value, "Triggers");
                };
                formatDiscovery = function (value) {
                    return formatter.formatNumWithText(value, "Discovery");
                };
                formatWeb = function (value) {
                    return formatter.formatNumWithText(value, "Web");
                };
                formatInterfaces = function (value) {
                    return formatter.formatInterfaceData(value);
                };
                formatLatestData = function (value) {
                    return formatter.formatLatestData(value);
                };
                $table.bootstrapTable({
                    ajax: "hostsGet"
                });
           });
        });
    });
</script>