<nav id="zbxdashmenu" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#zabbix-dash-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Zabbix Dash</a>
        </div>
        <div class="collapse navbar-collapse" id="zabbix-dash-menu">
            <ul class="nav navbar-nav">
                <li id="trigger"><a href="?view=trigger">Trigger</a></li>
                <li id="hosts"><a href="?view=hosts">Hosts</a></li>
            </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="usermenu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a id="logout" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    require(['main'], function () {
        require(['actions/navbar', 'domready'], function (methods, domReady) {
            domReady(function () {
                methods.logout();
                methods.userInformation();
                methods.setActiveMenu();
            });
        });
    });
</script>