<div id="acknowledge-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Acknowledge event</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Trigger</dt>
                    <dd id="acknowledge-event-trigger-description">No trigger selected</dd>
                    <dt>Hostname</dt>
                    <dd id="acknowledge-hostname">No trigger selected</dd>
                </dl>

                <div class="form-group top-buffer">
                    <label for="acknowledge-comment">Message:</label>
                    <textarea class="form-control" rows="5" id="acknowledge-comment"></textarea>
                    <h6>Minimum characters: 5</h6>
                </div>
                <ul class="list-group" id="acknowledge-list">
                    <a href="#" id="expand-acknowledge" class="list-group-item active">
                        <span id="acknowledge-sum" class="badge">none</span>
                        Acknowledges for this event
                    </a>
                </ul>
                <ul class="list-group">
                    <li href="#" id="expand-events" class="list-group-item list-group-item-warning">
                        <span id="events-sum" class="badge">none</span>
                        Events for this trigger
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="acknowledge-event" type="button" class="btn btn-primary">Acknowledge</button>
            </div>
        </div>
    </div>
</div>
<div id="triggertoolbar">
    <input type="checkbox" name="showAcknowledge" checked
            data-size="mini"
            data-label-text="State"
            data-on-text="New"
            data-off-text="All"
            >
</div>
<table id="triggertable"
       data-show-refresh="true"
       data-toolbar="#triggertoolbar"
       data-side-pagination="server"
       data-sort-name="lastchange"
       data-sort-order="DESC"
       data-search="true"
       data-checkbox-header="false"
        >
    <thead>
    <tr>
        <th data-checkbox="true" data-click-to-select="true"></th>
        <th data-field="lastchange" data-class="date" data-formatter="formatTime" data-sortable="true">Date</th>
        <th data-field="description" data-class="description" data-formatter="formatDescription" data-sortable="true">Trigger description</th>
        <th data-field="priority" data-class="priority" data-formatter="formatTriggerPriority" data-sortable="true">Priority</th>
        <th data-field="hosts.0" data-formatter="formatHost">Hostname</th>
        <th data-field="lastEvent" data-formatter="formatAcknowledge">Acknowledge</th>
    </tr>
    </thead>
</table>

<script>
    require(['main'], function () {
        require(['actions/trigger', 'libs/formatter', 'domready', 'bootstraptable', 'bootstrapswitch'], function (methods, formatter, domReady) {
            domReady( function () {
                var $acknowledgeSwitch = $("[name='showAcknowledge']");
                $acknowledgeSwitch.bootstrapSwitch();
                methods.eventAcknowledge();
                formatTime = function (value) {
                    return formatter.getHumanTime(value);
                };
                formatTriggerPriority = function (value) {
                    return formatter.priority(value);
                };
                formatAcknowledge = function (value) {
                    return formatter.acknowledgeState(value);
                };
                formatDescription = function (value, row, index) {
                    if ( /\{\$.*\}/.test(value) ) {
                        formatter.descriptionMacro(value, row, index);
                    };
                    return value;
                };
                formatHost = function (value) {
                    return formatter.hostElement(value);
                };
                triggerGet = function (params) {
                    methods.triggerGet(params, $acknowledgeSwitch.bootstrapSwitch('state'));
                };
                $triggertable = $('#triggertable');
                $triggertable.bootstrapTable({
                    ajax: "triggerGet"
                });
                $acknowledgeSwitch.on('switchChange.bootstrapSwitch', function(event, state) {
                    $triggertable.bootstrapTable('refresh');
                });
            });
        });
    });
</script>